on:
    push:
        branches:
        - main

env:
    ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
    ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
    ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}       

jobs:
    terraform-plan:
        name: 'Terraform Plan'
        runs-on: ubuntu-latest

        steps:
        - name: Checkout Repository
          uses: actions/checkout@v3

        - name: Login to Azure
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v2
          with:
            terraform_version: latest
        
        - name: Terraform Init
          run: terraform init

        - name: Terraform Plan
          run: terraform plan -out=tfplan

        - name: Save Plan Output
          uses: actions/upload-artifact@v4
          with:
            name: tfplan
            path: tfplan

    terraform-apply:
        name: 'Terraform Apply' 
        runs-on: ubuntu-latest
        needs: terraform-plan

        steps:
        - name: Checkout Repository
          uses: actions/checkout@v3

        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v2
          with:
            terraform_version: latest

        - name: Login to Azure
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

        - name: Terraform Init
          run: terraform init

        - name: Download Plan Output
          uses: actions/download-artifact@v4
          with:
            name: tfplan

        - name: Terraform Apply
          run: terraform apply -auto-approve tfplan