on:
    push:
        branches:
        - main

jobs:
    terraform-test:
        name: 'Terraform Validate and Plan'
        runs-on: ubuntu-latest

        steps:
        - name: Checkout Repository
          uses: actions/checkout@v3

        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v2
          with:
            terraform_version: latest

        - name: Terraform Init
          run: terraform init

        - name : Terraform Format Check
          run: terraform fmt -check -recursive

        - name: Terraform Validate
          run: terraform validate

